<%
page.layout = "about"
page.title = __('about.title')
page.subtitle = __('about.subtitle')
page.banner_img = theme.about.banner_img
page.banner_img_height = theme.about.banner_img_height
%>

<div class="text-center">
  <p class="h3"><%= theme.about.name %></p>
  <p><%- theme.about.introduce %></p>
  <% for(const i in theme.about.icons) { %>
    <% var href = theme.about.icons[i]; %>
    <% if (!href) continue; %>
    <% var isQr = i.search('weixin') !== -1 || i.search('qrcode') !== -1 %>
    <a href="<%- isQr ? 'javascript:;' : url_for(href) %>" class="h4 px-1 <%- isQr && 'qr-trigger' %>">
      <i class="<%- i %>" aria-hidden="true"></i>
      <% if (isQr) { %>
        <img class="qr-img" src="<%- url_for(href) %>" alt="qrcode" />
      <% } %>
    </a>
  <% } %>
</div>
<div class="mt-5 markdown-body">
  <%- page.content %>
</div>
