<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills nav-pills-rose">
                    <li class="nav-item"><a class="nav-link active" href="#all" data-toggle="tab">All </a></li>
                    <% site.tags.each(function(tag) { %>
                        <li class="nav-item"><a class="nav-link" href="#<%- tag.name %>" data-toggle="tab"><%- tag.name %></a></li>
                    <% }) %>
                </ul>
                <div class="tab-content tab-space">
                    <div class="tab-pane active" id="all">
                        <p class="h3">Total: <%= site.posts.length %></p>
                        <hr>
                        <% page.posts.each(function (post) { %>
                            <div class="row">
                                <div class="col-md-11">
                                    <p class="h6"><%- date(post.date,"YYYY-MM-DD") %>&nbsp;--&nbsp;<a href="<%- url_for(post.path) %>" class="h3 title"><%= post.title %></a></p>
                                </div>
                            </div>
                        <% }) %> 
                    </div>
                    <% site.tags.each(function(tag) { %>
                        <div class="tab-pane" id="<%- tag.name %>">
                            <% page.posts.each(function(post) { %>                                
                                <% post.tags.each(function(item) { %>
                                <%      if(item.name == tag.name) { %>
                                    <div class="row">
                                        <div class="col-md-11">
                                            <p class="h6"><%- date(post.date,"YYYY-MM-DD") %>&nbsp;--&nbsp;<a href="<%- url_for(post.path) %>" class="h3 title"><%= post.title %></a></p>
                                        </div>
                                    </div>
                                <%      } %>
                                <% }) %>
                            <% }) %> 
                        </div>
                    <% }) %>
                </div>
            </div>  
        </div>
    </div>
</div>
