<%
page.layout = "categories"
page.title = theme.category.title || __('category.title')
page.subtitle = theme.category.subtitle || __('category.subtitle')
page.banner_img = theme.category.banner_img
page.banner_img_height = theme.category.banner_img_height
page.banner_mask_alpha = theme.category.banner_mask_alpha

var orderBy = theme.category.order_by || 'name'
%>

<% function render_categories(cats, depth) { %>
  <% depth = depth || 0 %>
  <% return cats.each((cat) => { %>
    <% var subCats = site.categories.find({parent: cat._id}).sort(orderBy).filter(cat => cat.length) %>
    <% var collapsed = subCats.length === 0 || depth >= theme.category.collapse_depth %>
    <div class="<%= depth <= 0 ? 'category' : 'category-sub' %> row">
      <a
        class="<%= depth <= 0 ? 'category-item' : 'category-subitem' %> <%= collapsed ? 'collapsed' : '' %> list-group-item category-item-action col-10 col-md-11"
        id="heading-<%= md5(cat.name) %>" role="tab" data-toggle="collapse" href="#collapse-<%= md5(cat.name) %>"
        aria-expanded="<%= collapsed ? 'false' : 'true' %>"
      >
        <%= cat.name %>
        <i class="iconfont icon-arrowright"></i>
      </a>
      <a href="<%= url_for(cat.path) %>" class="category-count col-2 col-md-1">
        <i class="iconfont icon-articles"></i>
        <span><%= cat.posts.length %></span>
      </a>
      <div class="category-collapse collapse" id="collapse-<%= md5(cat.name) %>" role="tabpanel" aria-labelledby="heading-<%= md5(cat.name) %>">
        <% var posts = cat.posts.sort(theme.category.post_order_by || config.index_generator.order_by || '-date') %>
        <% if (subCats.length > 0) { %>
          <% var filteredPosts = posts.filter((p) => {
            return p.categories.filter(catOnPost => catOnPost.parent === cat._id).length === 0;
          }) %>
          <%- render_posts(filteredPosts, cat) %>
          <%- render_categories(subCats, depth + 1) %>
        <% } else { %>
          <%- render_posts(posts, cat) %>
        <% } %>
      </div>
    </div>
  <% }) %>
<% } %>

<% function render_posts(posts, cat) { %>
  <div class="category-post-list">
    <% var limit = theme.category.post_limit %>
    <% for (var idx = 0; idx < posts.length; idx++) { %>
      <% var post = posts.data[idx] %>
      <% if (idx && limit && idx >= limit) { %>
        <a href="<%= url_for(cat.path) %>" class="list-group-item list-group-item-action">
          <span class="category-post">More...</span>
        </a>
        <% break %>
      <% } else { %>
        <a href="<%= url_for(post.path) %>" class="list-group-item list-group-item-action">
          <span class="category-post"><%= post.title %></span>
        </a>
      <% } %>
    <% } %>
  </div>
<% } %>

<div class="category-list">
  <% cats = site.categories.find({parent: {$exists: false}}).sort(orderBy).filter(cat => cat.length) %>
  <%- render_categories(cats) %>
</div>
