<div class="row">
    <div class="col-md-10 offset-md-1">
        <% page.posts.each(function (post) { %>
        <div class="row post-card">
            <% var col_num = "col-md-11" %>
            <% if(post.index_img != null) { %>
                <% col_num = "col-md-7" %>
                <div class="col-md-4">
                    <a href="<%- url_for(post.path) %>" style="background-image: url(<%- post.index_img %>)" class="post-index-img" target="<%- theme.index.post_url_target %>"></a> 
                </div>
            <% } %>
                <div class="<%- col_num %>">
                    <a href="<%- url_for(post.path) %>" class="h3 title" target="<%- theme.index.post_url_target %>"><%= post.title %></a>
                    <% if(post.excerpt.length > 0) { %>
                    <p><%- strip_html(post.excerpt) %>...</p>
                    <% } else if(theme.index.auto_excerpt.enable){ %>
                    <p><%- strip_html(post.content).substring(0,theme.index.auto_excerpt.length) %>...</p>
                    <% } %>
                    <% if(theme.index.post_info.enable){ %>
                    <p class="h6">
                        <i class="material-icons">date_range</i><%- date(post.date,"YYYY-MM-DD") %>
                        <% if(post.tags.length) { %>
                            <i class="material-icons">bookmark_border</i>
                                <% post.tags.each(function(tag){ %>
                                    <%= tag.name %> &nbsp;
                                <% }) %>
                        <% } %>
                    </p>
                    <% } %>
                </div>
        </div>
       
        <% }) %> 
        <br><br>
        <%- partial('_partial/paginator_center') %>
    </div>
</div>