<!DOCTYPE html>
<html lang="zh-CN">
<% if(is_post()) { %>
<%    banner_img = page.banner_img || theme.post.banner_img || theme.index.banner_img %>
<%    var banner_img_height = theme.post.banner_img_height %>
<%    var subtitle = page.title %>
<% } else if(is_home()) { %>
<%    var banner_img = theme.index.banner_img %>
<%    var banner_img_height = theme.index.banner_img_height %>
<%    if(theme.index.subtitle.enable) { var subtitle = config.subtitle } %>
<% } else if (page.type == 'about'){ %>
<%    var banner_img = theme.about.banner_img || theme.index.banner_img %>
<%    var banner_img_height = theme.about.banner_img_height %>
<%    var subtitle = '' %>
<%    var body_class = "profile-page" %>
<% } else if(is_archive) { %>
<%    var banner_img = theme.archive.banner_img || theme.index.banner_img %>
<%    var banner_img_height = theme.archive.banner_img_height %>
<%    var subtitle = 'Archive' %>
<% } else { %>
<%    var subtitle = page.title %>
<%    var banner_img = theme.index.banner_img %>
<%    var banner_img_height = theme.index.banner_img_height %>
<% } %>

<%- partial('_partial/head') %>

<body class="<%- body_class %> sidebar-collapse">
<%- partial('_partial/nav') %>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('<%- url_for(banner_img) %>'); height: <%- banner_img_height %>vh;">
    <% if(is_post()) { %>
      <div class="container">
        <h1 class="title text-center post_title"><%- page.title %></h1>
        <p class="text-center"><b><%- full_date(page.date, 'dddd, MMMM Do YYYY, h:mm a') %></b></p>
      </div>
    <% } else { %>
      <div class="container">
        <h1 class="title text-center"><%- subtitle %></h1>
      </div>
    <% } %>
  </div>

<% if(page.type == "about") { %>
  <div class="main main-raised">
    <div class="container">
      <%- body %>
    </div>
  </div>  
<% } else { %>
  <div class="main main-raised">
    <div class="container">
      <div class="section">
        <%- body %>
      </div>
    </div>
  </div>
<% } %>

<%- partial('_partial/footer') %>
</body>
</html>