<!DOCTYPE html>
<html lang="<%= config.language %>">

<%
var subtitle = page.subtitle || page.title
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = page.banner_img_height || theme.index.banner_img_height
%>

<%- partial('_partial/head') %>

<body>
  <header style="height: <%- banner_img_height %>vh;">
    <%- partial('_partial/nav') %>
    <div class="view intro-2" id="background" <%- theme.banner_parallax && 'parallax=true' %>
         style="background: url('<%- url_for(banner_img) %>') no-repeat center center;
           background-size: cover;">
      <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
          <div class="container text-center white-text fadeInUp">
            <span class="h2" id="subtitle">
              <% if(theme.fun_features.typing.enable == false) { %>
                <%- subtitle %>
              <% } %>
            </span>

            <% if(is_post()) { %>
              <% if (theme.post.meta.date.enable) { %>
                <p class="mt-3 post-meta">
                  <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                  <%- full_date(page.date, theme.post.meta.date.format) %>
                </p>
              <% } %>

              <p class="mt-1">
                <% if (theme.post.meta.wordcount.enable) { %>
                  <% var wordcount_texts = theme.post.meta.wordcount.format.split('{}') %>
                  <span class="post-meta">
                    <i class="far fa-chart-bar"></i>
                    <%- wordcount_texts[0] %><%- wordcount(page.content) %><%- wordcount_texts[1] %>
                  </span>
                <% } %>

                <% if (theme.post.meta.min2read.enable) { %>
                  <% var min2read_texts = theme.post.meta.min2read.format.split('{}') %>
                  <span class="post-meta">
                      <i class="far fa-clock"></i>
                      <%- min2read_texts[0] %><%- min2read(page.content) %><%- min2read_texts[1] %>
                  </span>
                <% } %>

                <% if (theme.post.meta.views.enable) { %>
                  <!-- 不蒜子统计文章PV -->
                  <% var views_texts = theme.post.meta.views.format.split('{}') %>
                  <span id="busuanzi_container_page_pv" class="post-meta" style="display: none">
                    <i class="far fa-eye" aria-hidden="true"></i>
                    <%- views_texts[0] %><span id="busuanzi_value_page_pv"></span><%- views_texts[1] %>
                  </span>
                <% } %>
              </p>
            <% } %>
          </div>

          <% if (theme.scroll_down_arrow.enable && theme.scroll_down_arrow.banner_height_limit <= banner_img_height) { %>
            <div class="scroll-down-bar">
              <i class="fas fa-angle-down scroll-down-arrow"></i>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </header>

  <main>
    <% if(is_post() || page.layout == '404') { %>
      <%- body %>
    <% } else { %>
      <div class="container nopadding-md">
        <div class="py-5 z-depth-3" id="board"
          <%- banner_img_height >= 100 && theme.banner_parallax ? 'style=margin-top:0' : '' %>>
          <% if(page.layout == 'about') { %>
            <div class="about-avatar">
              <img src="<%- url_for(theme.about.avatar) %>"
                   class="img-fluid z-depth-1 rounded-circle"
                   alt="avatar">
            </div>
          <% } %>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 m-auto">
                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </main>

  <% if (theme.scroll_top_arrow.enable) { %>
    <a class="z-depth-1" id="scroll-top-button" href="#" role="button">
      <i class="fa fa-chevron-up scroll-top-arrow" aria-hidden="true"></i>
    </a>
  <% } %>

  <% if (theme.search.enable) { %>
    <%- partial('_partial/search') %>
  <% } %>

  <% if (theme.aplayer && theme.aplayer.enable && theme.aplayer.songs) { %>
    <!-- APlayer 音乐播放器 -->
    <div id="aplayer"></div>
    <%- partial('_partial/plugins/aplayer.ejs') %>
  <% } %>

  <% if (theme.custom_html) { %>
    <div class="col-lg-7 mx-auto nopadding-md">
      <div class="container custom mx-auto">
        <%- theme.custom_html %>
      </div>
    </div>
  <% } %>

  <%- partial('_partial/footer', { data: { 'subtitle': subtitle } }) %>

</body>
</html>
