<!DOCTYPE html>
<html lang="<%= config.language %>">

<%
var subtitle = page.subtitle || page.title
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = page.banner_img_height || theme.index.banner_img_height
%>

<%- partial('_partial/head') %>

<body>
  <header style="height: <%- banner_img_height %>vh;">
    <%- partial('_partial/nav') %>
  </header>

  <main>
  </main>

  <% if (theme.scroll_top_arrow.enable) { %>
    <a class="z-depth-1" id="scroll-top-button" href="#" role="button">
      <i class="fa fa-chevron-up scroll-top-arrow" aria-hidden="true"></i>
    </a>
  <% } %>

  <% if(theme.search.enable) { %>
    <%- partial('_partial/search') %>
  <% } %>

  <%- partial('_partial/footer', { data: { 'subtitle': subtitle } }) %>

</body>
</html>
