<% if(page.type == "about") { %>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="profile">
          <div class="avatar">
            <img src="<%- url_for(theme.about.avatar) %>" alt="Circle Image" class="img-raised rounded-circle img-fluid">
          </div>
          <div class="name">
            <h3 class="title"><%= theme.about.name %></h3>
            <h6><%= theme.about.job %></h6>
            <% for(var i in theme.about.icons) { %>
              <a href="<%- theme.about.icons[i] %>" class="btn btn-just-icon btn-link btn-<%- i %>"><i class="fa fa-<%- i %>"></i></a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="description text-center">
      <p><%= theme.about.introduce %></p>
      <%- theme.about.extension %>
    </div>
    <br><br>
<% } %>
