<% if(theme.toc.enable){ %>
<%     var col_num = 7 %>
<% }else { var col_num = 8 } %>
<div class="row">
    <div class="col-md-<%- col_num %> offset-md-2">
        <div class="post_content tocbot-content">
            <%- page.content %>
        </div>
        <br><br>
        <div>
            <p>
                <% page.tags.each(function(tag) { %>     
                    <span class="badge badge-default">#&nbsp;<%- tag.name %></span>
                    &nbsp;
                <% }) %>    
            </p>
        </div>
    </div>
    <!-- TOC -->
    <% if(theme.toc.enable){ %>
        <div class="col-md-3">
            <i class="material-icons" style="vertical-align:middle">toc</i>Toc:
            <%- toc(page.content,{
                list_number:false
            }) %>
        </div>
    <% } %>
</div>

<!-- Comments -->
<div class="row">
    <div class="col-md-8 offset-md-2">
    <% if(page.comments) { %>
        <% if(theme.comments_type == 'disqus') { %>
            <%- partial('_partial/comments/disqus') %>
        <% } %>
    <% } %>
    </div>
</div>