<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 ">
            <div class="post-content py-5 z-depth-3 main">
                <%- page.content %>
                <hr>
                <div>
                    <p>
                    <% page.tags.each(function(tag) { %>     
                        <span class="badge badge-light">#&nbsp;<%- tag.name %></span>
                        &nbsp;
                    <% }) %>    
                    </p>
                </div>
                <br>
                <% if(theme.post.copyright.enable) { %>
                    <p class="note note-warning"><%- theme.post.copyright.content %></p>
                <% } %>
            </div>
        </div>
        <div class="d-none d-md-block col-md-2">
            <%- partial('_partial/toc') %>
        </div>
    </div>        
</div>

<br><br><br>

<!-- Comments -->
<div class="comments" id="comments">
<% if(page.comments && theme.post.comments.enable) { %>
    <% var type = '_partial/comments/' + theme.post.comments.type %>
    <%- partial(type) %>
<% } %> 
</div>