<%
if (!page.banner_img) {
  page.banner_img = theme.post.banner_img
}
page.banner_img_height = theme.post.banner_img_height
%>

<div class="container-fluid">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2"></div>
    <div class="col-lg-8 nopadding-md">
      <div class="container nopadding-md" id="board-ctn">
        <div class="py-5 z-depth-3" id="board">
          <div class="post-content mx-auto" id="post">
            <% if(theme.post.updated && theme.post.updated.enable) { %>
              <p
                class="note note-warning"><%- theme.post.updated.content %><%- date(page.updated, theme.post.meta.date.format) %></p>
            <% } %>
            <div class="markdown-body">
              <%- page.content %>
            </div>
            <hr>
            <div>
              <p>
                <% if (page.categories && page.categories.length > 0) { %>
                  <span>
                <i class="iconfont icon-inbox"></i>
                    <% page.categories.each(function(cate) { %>
                      <a class="hover-with-bg" href="<%- url_for(cate.path) %>"><%= cate.name %></a>
                      &nbsp;
                    <% }) %>
                  </span>&nbsp;&nbsp;
                <% } %>
                <% if (page.tags && page.tags.length > 0 ) { %>
                  <span>
                <i class="iconfont icon-tag"></i>
                    <% page.tags.each(function(tag) { %>
                      <a class="hover-with-bg" href="<%- url_for(tag.path) %>"><%= tag.name %></a>
                    <% }) %>
                  </span>
                <% } %>
              </p>
              <% if(theme.post.copyright.enable && theme.post.copyright.content) { %>
                <p class="note note-warning"><%- theme.post.copyright.content %></p>
              <% } %>
              <% if(theme.post.prev_next.enable) { %>
                <div class="post-prevnext row">
                  <div class="post-prev col-12 col-md-6">
                    <% if (page.prev) { %>
                      <a href="<%- url_for(page.prev.path) %>">
                        <i class="fa fa-chevron-left"></i>
                        <span><%= page.prev.title %></span>
                      </a>
                    <% } %>
                  </div>
                  <div class="post-next col-12 col-md-6">
                    <% if (page.next) { %>
                      <a href="<%- url_for(page.next.path) %>">
                        <span><%= page.next.title %></span>
                        <i class="fa fa-chevron-right"></i>
                      </a>
                    <% } %>
                  </div>
                </div>
              <% } %>
            </div>

              <% if(page.comments && theme.post.comments.enable) { %>
                <!-- Comments -->
                <div class="comments" id="comments">
                  <% var type = '_partial/comments/' + theme.post.comments.type %>
                  <%- partial(type) %>
                </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% if(theme.post.toc.enable && page.toc != false){ %>
      <div class="d-none d-lg-block col-lg-2 toc-container" id="toc-ctn">
        <%- partial('_partial/toc') %>
      </div>
    <% } %>
  </div>
</div>

<!-- Custom -->
<% if(theme.post.custom.enable) { %>
  <div class="col-lg-7 mx-auto nopadding-md">
    <div class="container custom post-content mx-auto">
      <%- theme.post.custom.content %>
    </div>
  </div>
<% } %>
