
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="post_content">
            <%- page.content %>
        </div>
        <br><br>
        <div>
            <p>
                <% page.tags.each(function(tag) { %>     
                    <span class="badge badge-default">#&nbsp;<%- tag.name %></span>
                    &nbsp;
                <% }) %>    
            </p>
        </div>
        <% if(page.comments) { %>
            <% if(theme.comments_type == 'disqus') { %>
                <div class="disqus">
                    <div id="disqus_thread"></div>
                    <script>               
                        var disqus_shortname = '<%= theme.disqus.shortname %>';
                        var disqus_config = function () {
                            this.page.url = '<%= config.url %>/<%= page.path %>'; 
                            this.page.identifier = '/<%= page.path %>';
                        };
                        (function() { 
                            var d = document, s = d.createElement('script');
                            s.type = 'text/javascript';
                            s.src = '//'+disqus_shortname+'.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                                
                </div>
            <% } %>
        <% } %>
    </div>
</div>