<footer class="mt-5">
  <div class="text-center py-3">
    <a href="https://hexo.io" target="_blank" rel="nofollow noopener"><b>Hexo</b></a>
    <i class="iconfont icon-love"></i>
    <a href="https://github.com/fluid-dev/hexo-theme-fluid" target="_blank" rel="nofollow noopener"> <b>Fluid</b></a>
    <br>
    <% if(theme.footer.beian.enable) { %>
      <a href="http://beian.miit.gov.cn/" target="_blank"
         rel="nofollow noopener"><%- theme.footer.beian.icp_text %></a>
      <% if(theme.footer.beian.police_text && theme.footer.beian.police_code) { %>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=<%- theme.footer.beian.police_code %>"
           target="_blank" rel="nofollow noopener"> | <%- theme.footer.beian.police_text %></a>
      <% } %>
    <% } %>
  </div>
</footer>

<!-- SCRIPTS -->
<%- js_ex(theme.static_prefix.jquery, "jquery.min.js") %>
<%- js_ex(theme.static_prefix.popper, "popper.min.js") %>
<%- js_ex(theme.static_prefix.bootstrap, "js/bootstrap.min.js") %>
<%- js_ex(theme.static_prefix.mdbootstrap, "js/mdb.min.js") %>
<%- js_ex(theme.static_prefix.internal_js, "main.js") %>
<% if(theme.lazyload.enable){ %>
  <%- js_ex(theme.static_prefix.internal_js, "lazyload.js") %>
<% } %>
<% if(is_post()){ %>
  <% if(theme.post.toc.enable){ %>
    <%- js_ex(theme.static_prefix.tocbot, "/tocbot.min.js") %>
  <% } %>
  <%- js_ex(theme.static_prefix.internal_js, "post.js") %>
<% } %>
<% if(theme.highlight.enable){ %>
  <%- js_ex(theme.static_prefix.prettify, "/prettify.min.js") %>
  <script>
    $(document).ready(function () {
      $('pre').addClass('prettyprint linenums');
      prettyPrint();
    })
  </script>
<% } %>
<% if(theme.fun_features.typing.enable){ %>
  <%- js_ex(theme.static_prefix.typed, "/typed.min.js") %>
  <script>
    var typed = new Typed('#subtitle', {
      strings: [
        '  ',
        "<%- data.subtitle %>&nbsp;",
      ],
      cursorChar: "<%- theme.fun_features.typing.cursorChar %>",
      typeSpeed: <%- theme.fun_features.typing.typeSpeed %>,
      loop: <%- theme.fun_features.typing.loop %>,
    });
    typed.stop();
    $(document).ready(function () {
      $(".typed-cursor").addClass("h2");
      typed.start();
    });
  </script>
<% } %>
<% if(theme.fun_features.anchorjs.enable){ %>
  <%- js_ex(theme.static_prefix.anchor, "/anchor.min.js") %>
  <script>
    anchors.options = {
      placement: "<%- theme.fun_features.anchorjs.placement %>",
      visible: "<%- theme.fun_features.anchorjs.visible %>",
      <% if(theme.fun_features.anchorjs.icon != ""){ %>
      icon: "<%- theme.fun_features.anchorjs.icon %>"
      <% } %>
    };
    var el = "<%- theme.fun_features.anchorjs.element || 'h1,h2,h3,h4,h5,h6' %>".split(",");
    var res = [];
    for (item of el) {
      res.push(".markdown-body > " + item)
    }
    anchors.add(res.join(", "))
  </script>
<% } %>

<% if(theme.search.enable){ %>
  <%- js_ex(theme.static_prefix.internal_js, "local-search.js") %>
  <script>
    var path = "<%- theme.search.path || '/local-search.xml' %>";
    var inputArea = document.querySelector("#local-search-input");
    inputArea.onclick = function () {
      getSearchFile(path);
      this.onclick = null
    }
  </script>
<% } %>
