<% var joinStr = theme.title_join_string %>
<% var title  = config.title %>
<% if(page.title) { %>
<% title = [page.title, title].join(joinStr) %>
<% } else if(is_archive()){ %>
<% title = ['Archives', title].join(joinStr) %>
<% } else if(page.layout == "about") { title = ['About', title].join(joinStr) }%>

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.apple_touch_icon) %>">
    <link rel="icon" type="image/png" href="<%- url_for(theme.favicon) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= config.description %>">
    <meta name="author" content="<%= config.author %>">
    <meta name="keywords" content="<%= config.keywords %>">
    <title><%= title %></title>
    <%- css("/lib/font-awesome/css/all.min.css?v=5.7.2") %>
    <%- css("/lib/mdbootstrap/css/bootstrap.min.css?v=4.3.1") %>
    <%- css("/lib/mdbootstrap/css/mdb.min.css?v=4.8.7") %>
    <%- css("lib/github-markdown/github-markdown.css") %>
    <%- css("https://at.alicdn.com/t/font_1067060_l7tuu6qerl9.css") %>
    <% if(is_post() && theme.highlight.enable){ %>
        <%- css('lib/prettify/'+theme.highlight.theme+'.min.css') %>
    <% } %>
    <%- css("css/main.css") %>

    <% if(theme.baidu_analytics) { %>
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?<%= theme.baidu_analytics %>";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <% } %>
</head>
