<%
var joinStr = theme.title_join_string
var title = config.title
if (page.title) {
  title = [page.title, title].join(joinStr)
}
%>

<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.apple_touch_icon) %>">
  <link rel="icon" type="image/png" href="<%- url_for(theme.favicon) %>">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="<%= config.description %>">
  <meta name="author" content="<%= config.author %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <title><%= title %></title>
  <%- css_ex(theme.static_prefix.font_awesome, "css/all.min.css") %>
  <%- css_ex(theme.static_prefix.bootstrap, "css/bootstrap.min.css") %>
  <%- css_ex(theme.static_prefix.mdbootstrap, "css/mdb.min.css") %>
  <%- css_ex(theme.static_prefix.github_markdown, "github-markdown.min.css") %>
  <%- css("https://at.alicdn.com/t/font_1067060_qzomjdt8bmp.css") %>
  <% if(theme.highlight.enable){ %>
    <%- css_ex(theme.static_prefix.prettify_theme, theme.highlight.theme + '.min.css') %>
  <% } %>
  <%- css_ex(theme.static_prefix.internal_css, "main.css") %>

  <%- partial('_partial/analytics.ejs') %>
</head>
