<% var join = theme.title_join_string %>
<% if(page.title) { %>
<% var title = page.title + join + config.title %>
<% } else if(is_archive()){ %>
<% var title = 'Archives' + join + config.title %>
<% } else { %>
<% var title = config.title %>
<% } %>

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.apple_touch_icon) %>">
    <link rel="icon" type="image/png" href="<%- url_for(theme.favicon) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= config.description %>">
    <meta name="author" content="<%= config.author %>">
    <meta name="keywords" content="<%= config.keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <%- css("/lib/font-awesome/css/all.min.css?v=5.7.2") %>
    <%- css("/lib/mdbootstrap/css/bootstrap.min.css?v=4.3.1") %>
    <%- css("/lib/mdbootstrap/css/mdb.min.css?v=4.8.7") %>
    <%- css('lib/github-markdown/github-markdown.css') %>
    <%- css("https://at.alicdn.com/t/font_1067060_l7tuu6qerl9.css") %>
    <% if(is_post() && theme.highlight.enable){ %>
        <%- css('lib/prettify/'+theme.highlight.theme+'.min.css') %>
    <% } %>
    <%- css('css/main.css') %>
</head>