<% if(theme.post.toc.enable){ %>
<%     var col_num = 7 %>
<% }else { var col_num = 8 } %>
<div class="main main-raised">
  <div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-<%- col_num %> offset-md-2">
                <div class="post_content">
                    <%- page.content %>
                </div>
                <br><br>
                <div>
                    <p>
                        <% page.tags.each(function(tag) { %>     
                            <a class="badge badge-default" href="/archives/#<%- tag.name %>">#&nbsp;<%- tag.name %></a>
                            &nbsp;
                        <% }) %>    
                    </p>
                </div>
            </div>
            <!-- TOC -->
            <%- partial('../toc') %>
        </div>
    </div>
  </div>
</div>