<% if (theme.cusdis.host && theme.cusdis.appID) { %>
  <div class="cusdis" style="width:100%">
    <div id="cusdis_thread"
      data-host="<%= theme.cusdis.host %>"
      data-app-id="<%= theme.cusdis.appID %>"
      data-page-id="<%= md5(page.path) %>"
      data-page-url="<%= page.path %>"
      data-page-title="<%= page.title %>"
    >
    </div>
  </div>
  <script type="text/javascript">
    Fluid.utils.loadComments('#cusdis_thread', function() {
      Fluid.utils.createScript("<%= url_join(theme.cusdis.host, 'js/cusdis.es.js') %>");
    });
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
<% } %>
