<% if (theme.disqus) { %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.0/dist/disqusjs.css">
<script src="https://cdn.jsdelivr.net/npm/disqusjs@1.0/dist/disqus.js"></script>
<section class="comments" id="comments">
  <div id="disqus_thread"></div>
  <script>
    var dsqjs = new DisqusJS({
      shortname: '<%- theme.disqus.shortname %>',
      apikey: '<%- theme.disqus.apikey %>',
      nesting: '<%- theme.disqus.nesting %>',
      admin: '<%- theme.disqus.admin %>',
      adminLabel: '<%- theme.disqus.adminLabel %>'
    });
  </script>
</section>
<% } %>