<% if (theme.disqus.disqusjs) { %>
  <%= js_ex(theme.static_prefix.disqusjs, 'disqus.js') %>
  <%= js_ex(theme.static_prefix.disqusjs, 'disqusjs.css') %>
  <div class="disqus" style="width:100%">
    <div id="disqus_thread"></div>
    <script>
      function loadDisqus() {
        var dsqjs = new DisqusJS({
          shortname: '<%= theme.disqus.shortname %>',
          apikey: '<%= theme.disqus.apikey %>'
        });
      }

      var runningOnBrowser = typeof window !== "undefined";
      var isBot = runningOnBrowser && !("onscroll" in window) || typeof navigator !== "undefined" &&
        /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);
      var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;
      setTimeout(function () {
        if (!isBot && supportsIntersectionObserver) {
          var disqus_observer = new IntersectionObserver(function (entries) {
            if (entries[0].isIntersecting) {
              loadDisqus();
              disqus_observer.disconnect();
            }
          }, {
            threshold: [ 0 ]
          });
          disqus_observer.observe(document.getElementById('disqus_thread'));
        } else {
          loadDisqus();
        }
      }, 1);
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript" rel="nofollow noopener">comments powered by Disqus.</a>
    </noscript>
  </div>
<% } else { %>
  <div class="disqus" style="width:100%">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      function loadDisqus() {
        var disqus_config = function () {
          this.page.url = '<%= config.url %>/<%= page.path %>';
          this.page.identifier = '/<%= page.path %>';
        };
        (function () {
          var d = document,
            s = d.createElement('script');
          s.src = '//' + '<%- theme.disqus.shortname %>' + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', new Date());
          (d.head || d.body).appendChild(s);
        })();
      }

      var runningOnBrowser = typeof window !== "undefined";
      var isBot = runningOnBrowser && !("onscroll" in window) || typeof navigator !== "undefined" &&
        /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);
      var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;
      setTimeout(function () {
        if (!isBot && supportsIntersectionObserver) {
          var disqus_observer = new IntersectionObserver(function (entries) {
            if (entries[0].isIntersecting) {
              loadDisqus();
              disqus_observer.disconnect();
            }
          }, {
            threshold: [ 0 ]
          });
          disqus_observer.observe(document.getElementById('disqus_thread'));
        } else {
          loadDisqus();
        }
      }, 1);
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript" rel="nofollow noopener">comments powered by Disqus.</a>
    </noscript>
  </div>
<% } %>
